@page
@model IndexModel
@{
    ViewData["Title"] = "Broxess";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="admin-panel">
    <span class="glyphicon glyphicon-name"></span>
    <i class="fa fa-database"></i>
    3
    <p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
    <ul class="admin-panel-list">
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-list-alt"></span>
                <span class="admin-panel-class">My Workshops</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-star"></span>
                <span class="admin-panel-class">Create Workshop</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="admin-panel-class">Edit Workshop</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-asterisk"></span>
                <span class="admin-panel-class">Resource Allocation</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-ok"></span>
                <span class="admin-panel-class">Reservation Approval</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-calendar"></span>
                <span class="admin-panel-class">Room Calendars</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-stats"></span>
                <span class="admin-panel-class">Global Reports</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-phone"></span>
                <span class="admin-panel-class">Sing-In Tablets</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-th-list"></span>
                <span class="admin-panel-class">Menu Editor</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                <span class="admin-panel-class">Edit Users</span>
            </a>
        </li>
    </ul>
</div>

